body *{
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
}

header{
    margin-bottom: 2rem;
}

figure.logo{
    display: flex;
    justify-content: center;
}

img#logo{
    height: 128px;
    width: 128px;
    margin-top: 2em;
}

div#title{
    display: flex;
    justify-content: center;
}

/* div.is-ancestor{
    padding: 0em 1em 1em 1em ;
} */

section {
    padding: 1em
}